<div class="col-md-8 col-md-offset-2">
    <h3>User detail page</h3>
    <callback-message msg="message"></callback-message>
    <form name="userForm" role="form" class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="user.name" ng-model-options="{ updateOn: 'blur' }" required>
            </div>
            <div ng-show="userForm.$submitted || userForm.name.$touched">
                <div ng-show="userForm.name.$error.required" class="col-sm-offset-2">Tell us your name.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">Age</label>
            <div class="col-sm-10">
                <input type="number" min="0" max="99" class="form-control" id="age" name="age" placeholder="Age" ng-model="user.age" required>
            </div>
            <div ng-show="userForm.$submitted || userForm.age.$touched">
                <div ng-show="userForm.age.$error.required" class="col-sm-offset-2">Tell us your age.</div>
                <div ng-show="userForm.age.$error.number" class="col-sm-offset-2">Not valid age!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">Sex</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" ng-model="user.sex" id="male" name="sex" value="male" required> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="user.sex" id="female" name="sex" value="female" required> Female
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="update(user)">{{buttonText}}</button>
            </div>
        </div>
    </form>

    <p><code>user json</code>: <pre>{{user | json}}</pre></p>
    <!--<p><code>message json</code>: <pre>{{message | json}}</pre></p>-->
</div>
